version: "3.9"

services:

  qwen3-llm:
    image: vllm/vllm-openai:latest
    container_name: qwen3-llm
    shm_size: "16g"
    restart: unless-stopped
    gpus: all
    command:
      - "--model"
      - "Qwen/Qwen3-8B-AWQ"
      - "--quantization"
      - "awq"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8000"
      - --served-model-name
      - qwen3-8b

      # KV cache
      - "--kv-cache-dtype"
      - "fp8"
      - "--calculate-kv-scales"

      # память
      - "--gpu-memory-utilization"
      - "0.65"

      # ограничения
      - "--max-model-len"
      - "8192"
      - "--max-num-seqs"
      - "2"

    ports:
      - "8000:8000"
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface



  qwen3-embedding:
    image: vllm/vllm-openai:latest
    container_name: qwen3-embedding
    shm_size: "8g"
    restart: unless-stopped
    gpus: all
    environment:
      - HF_TOKEN=${HF_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY:-""}
    command:
#      - "--model"
      - "Qwen/Qwen3-Embedding-0.6B"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8001"
      - --served-model-name
      - qwen3-embedding-0.6b

      # для embedding KV cache не нужен
      - "--gpu-memory-utilization"
      - "0.2"

      # можно снизить длину
      - "--max-model-len"
      - "768"

    ports:
      - "8001:8001"
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface



  vllm-reranker:
    image: vllm/vllm-openai:latest
    container_name: vllm-reranker
    shm_size: "8g"
    command:
        - cross-encoder/ms-marco-MiniLM-L6-v2
        - --host
        - 0.0.0.0
        - --port
        - "8002"
        - --served-model-name
        - ms-marco-mini-l6-v2
        - --gpu-memory-utilization
        - "0.1"

    ports:
      - "8002:8002"
    environment:
      - HF_TOKEN=${HF_TOKEN}
      - RERANK_API_KEY=${RERANK_API_KEY}
    volumes:
      - ./hf_cache:/root/.cache/huggingface
      - ./models:/models
    gpus: all
    restart: unless-stopped

    healthcheck:
      test: ["CMD-SHELL","curl -sS http://localhost:8002/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3


